.div-secao-principal {
    background-image: url('../img/secao-principal/fundo.jpg');
    background-position: center;
    background-size: cover;

    background-color: #e5e5e5;
    min-height: 600px;

    color: white;
}

.img-clea{
    width: 100%;
    height: 600px;
    max-width: 900px;
    min-width: 540px;
    mix-blend-mode: lighten;
}